//- footer.footer
//-   .footer__inner.container
      
//-     a.logo.footer__logo(href="/main.html")
      
//-     .footer__menu
//-       a.footer-menu__item(href="/main.html") Витрина
//-       a.footer-menu__item(href="/main.html") Новости
//-       a.footer-menu__item(href="/main.html") Контакты
//-       a.footer-menu__item(href="/main.html") Сотрудничество
//-       a.footer-menu__item(href="/main.html") Работа у нас
      
//-     .footer__socials
//-       a.footer__social(href="" target="_blank")
//-         include ../../../images/icons/facebook.svg
//-       a.footer__social(href="" target="_blank")
//-         include ../../../images/icons/instagram.svg
//-       a.footer__social(href="" target="_blank")
//-         include ../../../images/icons/twitter.svg
        
//-     .footer__phones
//-       a.footer__phone(href="tel: 48124222647") +48 (12) 422 26 47
//-       a.footer__phone(href="tel: 48124229055") +48 (12) 422 90 55
      
//-     .footer-languages__wrap.languages__wrap.dropdown__wrap.visible-lg
//-       .language-active.dropdown__btn RU
//-       .languages.dropdown
//-         a.languages-item(href="#") EN
//-         a.languages-item(href="#") PL
        
//-   .footer__bottom.text-center
//-     .container.footer-bottom__inner
//-       .copyright 2019&nbsp;&copy; Abitoo, все права защищены
//-       a.privacy(href="" target="_blank") Политика конфиденциальности
