//- .dropdown
//-   .container
//-     .toggleswitch
//-       .toggleswitch__item.active Женская одежда
//-       a.toggleswitch__item(href="") Мужская одежда
//-     .header__catalog
//-       .header-catalog__item
//-         a.header-catalog__category(href="") верхняя одежда
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") новинки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") пальто и куртки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") платья
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") худи и свитшоты
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") футболки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") брюки и джинсы
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") юбки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") шорты
        
//-       .header-catalog__item
//-         a.header-catalog__category(href="") Спортивная одежда
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") новинки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") футболки и майки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") шорты
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") костюмы
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") леггинсы
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") кроссовки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") рюкзаки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") бюстгальтеры
            
//-       .header-catalog__item
//-         a.header-catalog__category(href="") нижнее белье
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") новинки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") бюстгальтеры
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") трусы
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") шорты
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") комплекты
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") пижамы и халаты
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") купальники
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") пляжная одежда
            
//-       .header-catalog__item
//-         a.header-catalog__category(href="") Обувь
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") ботинки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") каблуки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") кроссовки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") лоферы
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") сандалии
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") шлепанцы
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") туфли на плоской подошве
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") носки, чулки, колготки
            
//-       .header-catalog__item
//-         a.header-catalog__category(href="") аксессуары
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") для волос
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") носки, чулки, колготки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") ремни
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") солнцезащитные очки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") сумки и кошельки
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") украшения
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") часы
//-         .header-catalog__subcategory
//-           a.header-catalog-subcategory__link(href="") шапки, кепки, шарфы
