//- На главной к тегу header добавить класс .main-header

//- header.header.bg-red
//-   .header__inner.container

//-     a.logo.header__logo(href="/main.html")

//-     .header__menu.js-menu-mobile
//-       .dropdown__wrap
//-         a.header-menu__item.dropdown__btn(href="/catalog.html") Витрина
//-         include ./_header_dropdown
      
//-       a.header-menu__item.active(href="/news.html") Новости
//-       a.header-menu__item(href="/contacts.html") Контакты
//-       a.header-menu__item(href="/partnership.html") Сотрудничество
//-       a.header-menu__item(href="/work.html") Работа у нас

//-       .header-menu__languages.hidden-lg
//-         a.header-menu__languages-item(href="#") PL
//-         a.header-menu__languages-item(href="#") EN
//-         .header-menu__languages-item.active(href="#") RU
      
//-     .header__info
//-       .languages__wrap.dropdown__wrap
//-         .language-active.dropdown__btn RU
//-         .languages.dropdown
//-           a.languages-item(href="#") EN
//-           a.languages-item(href="#") PL

//-       .header__search-btn.js-search__icon
//-       form.header__search.js-search
//-         input.search-input.header__search-input(placeholder="Поиск..." type="text")
//-         button.search-input__icon(type="submit")

//-     .menu-hamburger.js-menu-hamburger.hidden-lg
//-       span
